.project
.pydevproject
.settings
*.pyc
*.class
*.jar
*.so
*.o
*.a
*.dll
*.exe
*.suo
*.pidb
*.pdb
*.user
*.userprefs
*.usertasks
*.mdb
*.html
*Bindings.*
*_bindings.py
*.sln.cache
*.sln.proj
*.dblite
bin
obj
gen-*
_build/
release/
*Stub.cs
*.stub
*.egg-info
*.log
.*
AssemblyInfo.cs
