.project
.pydevproject
*.pyc
*.class
*.jar
*.so
*.o
*.dll
*.exe
*.suo
*.pidb
*.pdb
*.user
*.userprefs
*.usertasks
*.mdb
*.html
*Bindings.*
*_bindings.py
*.sln.cache
*.sln.proj
bin
obj
build
demo/autogen
gen-*

